@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --primary-color: #EAE2B7;
    --secondary-color: #20A4F3;
    --accent1-color: #3E5622;
    --accent2-color: #7E6C6C;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: var(--accent1-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--secondary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
nav a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
