* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #519872;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: #3B5249;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 20px gray;
}
p {
    padding: 0px;
}
main {
    max-width: 1000px;
}
aside {
    position: relative;
    max-width: 1000px;
    margin: auto;
    border: 0;
    padding: 0;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 80px;
    left: 448px;
}
aside img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px gray;
}
footer {
    margin-top: 1em;
    border-top: 1px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1rem;
    padding: 1rem;
    background-color: #A4B494;
    color: black;
}