nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 20px gray;
}
p {
    padding: 0px;
}
main {
    max-width: 1000px;
}
aside {
    margin: auto;
    border: 0;
    padding: 0;
    background-color: rgb(199, 237, 253);
    color: rgb(55, 55, 55);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px gray;
}
footer {
    margin-top: 1em;
    border-top: 1px dotted black;
    text-align: center;
}
